<ul class="countries__item">
    {{#each this}}
    <li class="countries__list">
        <img class="image__list" src="{{flag}}" alt="{{name}}" width="40" height="40">
        <h6>{{name}}</h6>
    </li>
    {{/each}}
</ul>